@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yellowtail&display=swap" rel="stylesheet');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body {
    background-image: url("bgImage.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    position: relative;
}


.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0,0.1); */
    background: linear-gradient(to right, #7bb5c3, #101519);
    backdrop-filter: blur(20px);
    z-index: -1;
}

.header::after{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,transparent, rgba(255,255,255,0.4), transparent);
    transition: .5s;
}

.header:hover::after{
    left: 100%;
}

.logo{
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navbar a{
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}

.icons{
    right: 5%;
    position: absolute;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;

}


/* Break Points */
@media (max-width: 992px){
    .header {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 768px){

    #check:checked~.icons #menu-icon{
        display: none; 
    }

    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #close-icon{
        display: block; 
    }

    .icons #close-icon{
        display: none;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0,0.1);
        backdrop-filter: saturate(180%) blur(50px);
        box-shadow: 0.5rem 1rem rgba(0, 0, 0,0.1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.navbar{
        display: block; 
        height: 17.7rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        opacity: 0;
        transform: translatey(-50px);
    }   
}

#check:checked~.navbar a{
    display: block; 
    transform: translatey(0);
    opacity: 1;
    transition-delay: calc(.15s * var(--i));
}


#check{
    display: none;
}


/* .content {
    text-align: center;
    padding: 24px;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    border-radius: 0px 0px 12px 12px;
    background: linear-gradient(to right, #7bb5c3, #101519)
} */

.marquee-container {
    width: 100%;
    top: 50%;
    text-align: center;
}

.marquee-text {
    font-size: 24px;
    font-weight: bold;
    color: white;
    background: rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    margin-top: 90px;
    /* border-radius: 10px; */
}

.box {
    color: #fff;
    /* text-align: center; */
    justify-content: center;
    font-weight: bold;
    max-width: 48rem;
    margin: 2rem auto;
    background: rgba(0, 0, 0, 0.2);
    padding: 2rem;
    backdrop-filter: saturate(120%) blur(16px);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.box p {
    margin-bottom: 1rem;
}


.bottom-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #3fabb9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

/* Button hover effect */
.bottom-button:hover {
    color: #3fabb9;
    background-color: #fff;
}